---
import { twMerge } from 'tailwind-merge'
interface Props {
  className?: string
}

const { className = '' } = Astro.props
---

<div
  class={twMerge(
    'w-[80px] h-[80px] rotate-[130deg] absolute top-0 mt-[-40px]',
    className
  )}
>
  <dotlottie-player
    src="/src/data/lottie/tick-marks.json"
    background="transparent"
    speed="1"
    loop="false"
    autoplay></dotlottie-player>
</div>
