---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Nutrition from '../components/Nutrition.astro'
import Marquee from '../components/Marquee.astro'
import ImageText from '../components/ImageText.astro'
import StackUp from '../components/StackUp.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Nutrition />
    <Marquee />
    <ImageText />
    <StackUp />
  </main>
</Layout>
